/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_and_overrides
 *= require tasks
 *= require_tree .
 */

.main {
 margin-top: 50px;
 margin-left: 400px;
}

body {
  width: 520px;
}

#app {
  width: 600px;
  margin-left: 250px;
  background: #E8E8E8;
  padding: 20px;
  padding-left: 150px;
  margin-bottom: 40px;
  border-radius: 15px;
}
